:root {
  --wa-color-focus: var(--wa-color-purple-50);
}
@media screen and (orientation: landscape) {
  html {
    background-color: var(--wa-color-surface-lowered);
  }
}
#app {
  min-height: 80dvh;
  justify-items: center;
}
@media screen and (orientation: landscape) {
  .card {
    background-color: var(--wa-color-surface-raised);
    border-radius: var(--wa-border-radius-l);
    box-shadow: var(--wa-shadow-s);
    padding: var(--wa-space-3xl);
  }
}
@media screen and (orientation: portrait) {
  .card {
    padding: var(--wa-space-2xl);
  }
}
mark {
  color: var(--wa-color-purple-20);
  background-color: var(--wa-color-purple-90);
}
input {
  min-width: 100%;
  width: 180px;
}
button[readonly] {
  pointer-events: none;
}
