// =====================
// Animations
// =====================
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    animation: fade .5s ease-in-out forwards;
    animation-fill-mode: forwards;

    @media screen and (orientation: landscape) {
        background: color-mix(in srgb, var(--wa-color-surface-lowered), var(--wa-color-surface-default));
    }
}

#app {
    margin: 0 var(--wa-space-2xl);
    justify-content: space-between;
    align-items: center;

    @media screen and (orientation: landscape) {
        min-height: 90dvh;
    }

    @media screen and (orientation: portrait) {
        min-height: 90dvh;
    }
}

.card {
    margin: auto;
    max-width: 460px;

    @media screen and (orientation: landscape) {
        background-color: var(--wa-color-surface-raised);
        border-radius: var(--wa-border-radius-l);
        box-shadow: var(--wa-shadow-s);
        padding: var(--wa-space-3xl);
    }
}

mark {
    color: var(--wa-color-brand-20);
    background-color: var(--wa-color-brand-90);
    white-space: nowrap;
}

input {
    min-width: 100%;
    width: 180px;
}

select {
    border: none;
    height: calc(var(--wa-form-control-height) - 2px);
    background: initial;
    padding: 0;
    appearance: none;
    outline: none;
}

button {
    &[readonly] {
        pointer-events: none;
    }
}