:root {
    --wa-color-text-link: var(--wa-color-purple-50);
    --wa-color-focus: var(--wa-color-purple-50);
}

html {
    overflow: hidden;

    @media screen and (orientation: landscape) {
        background-color: var(--wa-color-surface-lowered);
    }
}

#app {
    justify-items: center;
    margin: 0 var(--wa-space-2xl);
    justify-content: space-between;
    align-items: center;

    @media screen and (orientation: landscape) {
        min-height: 90dvh;
    }

    @media screen and (orientation: portrait) {
        min-height: 90dvh;
    }
}

.card {
    margin: auto;

    @media screen and (orientation: landscape) {
        background-color: var(--wa-color-surface-raised);
        border-radius: var(--wa-border-radius-l);
        box-shadow: var(--wa-shadow-s);
        padding: var(--wa-space-3xl);
    }

    @media screen and (orientation: portrait) {}
}

mark {
    color: var(--wa-color-purple-20);
    background-color: var(--wa-color-purple-90);
    white-space: nowrap;
}

input {
    min-width: 100%;
    width: 180px;
}

button {
    &[readonly] {
        pointer-events: none;
    }
}
