<!DOCTYPE html>
<html class=wa-light>

<head>
    <meta charset="UTF-8">
    <title>Authenticate</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel=stylesheet href=https://early.webawesome.com/webawesome@3.0.0-beta.6/dist/styles/webawesome.css />
    <link rel=stylesheet href="/css/style.css" />
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src=https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js></script>
    <script src=https://cdn.jsdelivr.net/npm/vue-toasted@1.1.28/dist/vue-toasted.min.js></script>
</head>

<body>

    <div id=app class="wa-grid wa-align-items-center">

        <div class="card">

            <h3>
                Authentication Required
            </h3>

            <p>
                The site <b>{{ redirectDomain }}</b> requires verification.<br>
                Enter your email to continue login.
            </p>

            <br>

            <div class="wa-split wa-gap-m" style="align-items: end;">

                <div class="wa-stack wa-gap-xs" v-if="!mailsent">
                    <div class=wa-caption-m>My email</div>
                    <div style="position: relative; display: flex; align-items: center;">
                        <input v-model=user placeholder="john.doe" style="min-width: 250px;" :style="{width: 180 + (user.length * 6.5) + 'px' }" @keyup.enter="user && $refs.myButton1.focus()" autofocus />
                        <span class=wa-caption-l style="position: absolute; right: var(--wa-form-control-padding-inline); pointer-events: none;">@kihlstroms.se</span>
                    </div>
                </div>
                <div class="wa-stack wa-gap-xs" v-else>
                    <div class=wa-caption-m>Verification Pin</div>
                    <div>
                        <input v-model=pin placeholder="code" style="min-width: 250px;" @keyup.enter="pin && $refs.myButton2.focus()" ref="pinInput" autofocus />
                    </div>
                </div>

                <button class="wa-size-m wa-neutral" ref=myButton1 @click=sendCode :readonly="!user.length" v-if="!mailsent">
                    Send login mail
                </button>
                <button class="wa-size-m wa-neutral" ref=myButton2 @click=verifyCode :readonly="!pin.length" v-else>
                    Verify pin
                </button>
            </div>

        </div>

    </div>

    <script src="/js/app.js"></script>

</body>

</html>